.day {
  background-color: white;
  color: black;
}
.night {
  background-color: black;
  color: red;
}
.button_night {
  background-color: darkblue;
  color: white;
}
.button_day {
  background-color: wheat;
  color: black;
}

html,
body {
  margin: 0px;
  height: 100%;
}
#app {
  height: 100px;
  padding: 10px;
}
